.parent {
    position: absolute;
    top: 6rem;
    left: 10rem;
    width: 87vw;
    height: 100vh;
    display: grid;
    // background-color: red;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    // background-color: grey;
    }
    
    .user-infos { 
        grid-area: 2 / 7 / 9 / 9;
        // background-color: red;
    }
    .activity { 
        grid-area: 2 / 1 / 6 / 7;
        // background-color: pink; 
    }
    .head { 
        grid-area: 1 / 1 / 2 / 9;
        // background-color: yellow; 
    }
    // .div4 { 
    //     grid-area: 6 / 1 / 9 / 7;
    //     background-color: turquoise; 
    // }
    .average-sessions { 
        grid-area: 6 / 1 / 9 / 3;
        // background-color: orange; 
    }
    .performance { 
        grid-area: 6 / 3 / 9 / 5;
        background-color:#282D30;; 
    }
    .score { 
        grid-area: 6 / 5 / 9 / 7;
        // background-color: green; 
    }
    