header {
    width: fit-content;
    font-family: roboto;
    line-height: 41px;
}
header h2 {
    font-size: 48px;
}
header p {
    font-size: 18px;
    font-weight: 400;
}
#nameUser {
    color: #E60000;
}