* {
    font-family: "Roboto";
}
.performance {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.recharts-polar-grid-concentric-polygon {
    stroke: white
}