.score {
    background: #FBFBFB;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.score h3 {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #20253A;
}
#score {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 159px;
    height: 159px;
    //background-color: #FBFBFB;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
#score p {
    width: 100px;
    font-size: 16px;
    line-height: 26px;
    color: #74798C;
    font-weight: 500;
}
#score #percentage {
    font-weight: bold;
    color:  #282D30;
    font-size: 26px;
}